[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "External/nano-signal-slot"]
	path = External/nano-signal-slot
	url = https://github.com/NoAvailableAlias/nano-signal-slot.git
